[submodule "Parser"]
	path = Parser
	url = https://github.com/Enseed/ReflectParser.git
[submodule "API"]
	path = API
	url = https://github.com/Enseed/ReflectAPI.git
[submodule "Sample"]
	path = Sample
	url = https://github.com/Enseed/ReflectSample.git
