[submodule "Parser"]
	path = Parser
	url = https://github.com/Enseed/ReflectParser.git
[submodule "API"]
	path = API
	url = https://github.com/Enseed/ReflectAPI.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm-mirror/llvm.git
[submodule "clang"]
	path = clang
	url = https://github.com/llvm-mirror/clang.git
[submodule "boost"]
	path = boost
	url = https://stash.dsotm.dyndns.org/scm/tp/boost_include.git
[submodule "build/staging"]
	path = build/staging
	url = https://github.com/Enseed/Reflect_sample.git
